.text {
  max-width: 1000px;
  margin-right: auto;
  text-align: justify;
}
.border {
  border: 2px solid;
  text-align: center;
}

aside {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 75%;
  right: 0;
  transform: translateY(-50%);
  margin-left: 70%;
}

main {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-end;
}

p {
  font-family: 'Roboto', sans-serif;
}
